<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Anonymizer - Web Version</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="title">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="title-logo">
        <div class="title-text">
            <div class="title-row">
                <h1>Anonymize</h1>
                <h2>LLM</h2>
            </div>
            <h3>Anonymize your code</h3>
        </div>
    </div>
    
    
    
    

    <div class="container">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Anonymized')">Anonymized Prompt</button>
            <button class="tablinks" onclick="openTab(event, 'Response')">Anonymized Response</button>
            <button class="tablinks" onclick="openTab(event, 'RebuiltResponse')">Rebuilt Response</button>
        </div>

        <div class="spinner"></div> 

        <div id="Anonymized" class="tabcontent">
            <h3>Anonymized</h3>
            <pre id="anonymizedResult">Your Anonymized Prompt will appear here...</pre>
        </div>

        <div id="Response" class="tabcontent">
            <h3>Response</h3>
            <pre id="responseResult">Anonymized Response content will appear here...</pre>
        </div>

        <div id="RebuiltResponse" class="tabcontent">
            <h3>Rebuilt Response</h3>
            <pre id="rebuiltResult">Rebuilt response will appear here...</pre>
            
        </div>

        <div class="bottom-tab">
            <button class="bottom-tablinks" onclick="openBottomTab(event, 'PromptInput')">Prompt</button>
            <button class="bottom-tablinks" onclick="openBottomTab(event, 'CodeInput')">Code</button>
        </div>

        <div id="PromptInput" class="bottom-tabcontent">
            <label for="prompt">Prompt:</label>
            <textarea id="prompt" placeholder="Enter your prompt here..."></textarea>
        </div>

        <div id="CodeInput" class="bottom-tabcontent">
            <label for="code">Code:</label>
            <textarea id="code" placeholder="Paste your code here..."></textarea>
        </div>

        <button id="anonymizeBtn">Anonymize and Send</button>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
